@using Task_Management_Application.Models;
@model IEnumerable<WorkTask>
<table class="table" id="taskstable">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Status
            </th>
            <th>
                Deadline
            </th>
            <th>
                Supervisor
            </th>

            <th>
                Worker
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody id="assignedbody">
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="6" class="dataTables_empty">
                    No matching records found
                </td>
            </tr>
        }
        @foreach (WorkTask task in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => task.Title)
                </td>
                <td>
                    @Html.DisplayFor(m => task.Status)
                </td>
                <td>
                    @{
                        if (task.Status.Equals(TaskStatus.Fulfilled))
                        {
                            <span class="text-success">On time fulfilled</span>
                        }
                        else if (task.Status.Equals(TaskStatus.Forfeited) || task.Status.Equals(TaskStatus.Unfulfilled) || task.Status.Equals(TaskStatus.Cancelled))
                        {
                            <span class="text-danger">The task was not fulfilled</span>
                        }
                        else if (DateTime.Now > task.Deadline)
                        {
                            <span class="text-danger">Time's up</span>
                        }
                        else
                        {
                            @Html.DisplayFor(m => task.Deadline)
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(m => task.SupervisorUserName)
                </td>
                <td>
                    @if (task.Status.Equals(TaskStatus.Unassigned) || task.Status.Equals(TaskStatus.WaitingForApps))
                    {
                        <span>Unassigned task</span>
                    }
                    else if (task.ApplicationUsers.Count == 1)
                    {
                        <span>@task.ApplicationUsers.ElementAt(0).UserName</span>
                    }
                    else
                    {
                        <span>Group task</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Show more info", "ShowTask", "Administrator", new { id = task.Id }, null)
                </td>
            </tr>
        }

    </tbody>
</table>

